<%- include("partials/header"); -%>
<div class="container">
    <div class="container my-4 jumbotron">
        <img class="rounded-circle mr-4 float-left img-fluid" src="img/profile.jpeg" alt="" style="max-width: 120px;">
        <h1 class="display-4 mt-3">Hey, I am Yash</h1>
        <p class="lead" style="clear: left;">Currently persuing B-Tech in computer Science (Delhi Technological
            University)</p>
        <p class="lead" style="clear: left;">Software Developer</p>
        <p class="lead" style="clear: left;">E-Mail : vanshkumarrpvv@gmail.com</p>
        <h4>About Project :</h4>
        <p class="lead">MyBlog : It is a website based on Node.js, MongoDB, NoSQL, Express.js and Ejs. It performs all CRUD operations.</p><hr>
        <p class="lead">Additional Functionalities : Multiple node modules like lodash, mongoose, body-parser.</p>
        <hr class="my-4">
        <p>connect on Linkedin <a href="#" style="color: #0072b1;"><i class="fa fa-linkedin mx-2"
                    style="font-size:24px"></i></a></p>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/yash-b43334213/" role="button"
            target="_blank">Get Connected</a>
    </div>
</div>
<%- include("partials/footer"); -%>