<%- include("partials/loginHeader"); -%>

<div class=" container jumbotron jumbotron-fluid">
    <div class="container-fluid col-md-8 col-sm-6 col-xl-4 col-xxl-4 col-lg-6 mt-2 mt-sm-2">
        <form action="/login" method="post">
            <!-- Username input -->
            <div class="form-outline mb-4">
                <input type="text" id="form2Example1" name="username" class="form-control" placeholder="Enter username"
                    required />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example1" name="password" class="form-control"
                    placeholder="Enter Password" required />
            </div>

            <!-- Login button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

            <!-- Register buttons with social platform -->
            <div class="text-center">
                <p>Not a member? <a href="/register">Register</a> or <a href="/skip">Skip</a></p>
                <p>or sign up with:</p>

                <!-- Register with google -->
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google mx-1"></i> <a href="/auth/google"> Sign in with google</a>
                </button>
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer"); -%>