<%- include("partials/header"); -%>

<div class=" container jumbotron jumbotron-fluid">
  <div class="container text-center">
    <p>stories section is comming soon...</p>
  </div>
</div>

<%- include("partials/footer"); -%>